{{#is "page, index"}}
<div class="header container-fluid" style="background: url('{{@blog.cover_image}}');">
  <h1 class="header-title">{{@blog.title}}<br><small>{{@site.description}}</small></h1>
</div>
{{else}}
<div class="header-page container-fluid" style="background: url('{{post.feature_image}}');">
  <h1 class="header-title">{{post.title}}</h1>
</div>
{{/is}}
