<nav class="pagination" role="navigation">
  <ul class="pagination">
    {{#if prev}}
    <li>
      <a href="{{page_url prev}}" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    {{/if}}
    <li>
      <a href="{{page_url next}}" aria-label="Previous">
        Page {{page}} of {{pages}}
      </a>
    </li>
    {{#if next}}
    <li>
      <a href="{{page_url next}}" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
    {{/if}}
  </ul>
</nav>
