{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
the {body} of the default.hbs template, which contains our header/footer. }}

{{! The main content area on the homepage }}
<section role="main">
  <div class="col-xs-12 col-md-8">
    {{#foreach posts}} {{! Each post will be output using this markup }}
    <article class="{{post_class}} row">
      <div class="col-sm-12">
        <h3 class="post-title">
          <a class="post-title" href="{{url}}">{{{title}}}</a>
        </h3>
        <b>Posted: <time datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMM YYYY"}}</time></b>
        <section>
          <p>{{excerpt}}</p>
        </section>
        <p class="text-muted">
          {{tags prefix="Tags: "}}
        </p>
      </div>
    </article>
    {{/foreach}}

    <div class="row">
      <div class="col-xs-12 text-center">
        {{pagination}} {{!! After all the posts, we have the previous/next pagination links }}
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-md-3 col-md-offset-1">
    <div class="sidebar ">
        <h4>Subscribe to {{@blog.title}}</h4>
      <!-- Widgets Add and Remove Theme UwU -->
      {{> widget-subscribe}}
      {{> widget-social}}
      {{> widget-post}}
    </div>
  </div>
</section>
